.landing_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    width: 100%;
    height: 100%;

    color: dimgray;
}

.home_link{
    text-decoration: none;
    color: dimgray;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    background-color: silver;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid dimgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.home_link:hover{
    background-color: gray;
    color: whitesmoke;
}

.home_link:active{
    background-color: dimgray;
    color: whitesmoke;
}